:root {
  --highlight-colour: #19a974;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.highlight {
  margin-bottom: 0.8rem;
  border-bottom: 0.3rem solid var(--highlight-colour);
}

header {
  text-align: center;
}

header a {
  text-decoration: none;
  cursor: pointer;
}

header a:visited {
  color: black;
}

section {
  background-color: ghostwhite;
}

input:focus,
textarea:focus {
  outline-color: var(--highlight-colour);
}

input,
textarea {
  font-size: 1.2rem;
  padding: 0.3rem;
}

#sort-select {
  text-align: center;
  margin: 0.5rem;
  font-size: 1.5rem;
}

#sort-select label {
  margin-right: 0.5rem;
}

.nav-link:visited {
  color: rgb(5, 52, 5);
}

#reviews-list,
#review-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.review-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-article img {
  display: block;
  max-width: 100%;
}

.review-link {
  margin: 0.5rem 0;
}

.review-link:hover {
  background-color: black;
  color: ghostwhite;
}

.body {
  border: solid 2px var(--highlight-colour);
  padding: 0.5rem;
  border-radius: 0.8rem;
}

#comment-form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  #reviews-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .review-article {
    width: 50%;
  }
  .review-article img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}
